// Add mobile styles for the component here

.text-field-login {
  font-size: 16px;
}
.forget-password-label {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #014F98;
  text-decoration: underline;
}

.btnCotizar {
  background-color: #25dd63;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
