<StackLayout height="100%">
    <Tabs selectedIndex="0" height="100%" tabsPosition="bottom" swipeEnabled="true">
        <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
        <TabStrip>
            <TabStripItem>
                <Label text="&#xf2c2;    Mis datos" class="fas"></Label>
            </TabStripItem>
            <TabStripItem class="special">
                <Label text="&#xf2bb;    Dirección" class="fas"></Label>
            </TabStripItem>
            <TabStripItem class="special">
                <Label text="&#xf2b9;    Contacto" class="fas"></Label>
            </TabStripItem>
        </TabStrip>

        <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
        <!-- #region Tab Mis Datos -->
        <TabContentItem>
            <GridLayout>
                <StackLayout width="90%" height="100%">
                    <ScrollView width="100%" orientation="vertical">
                        <StackLayout class="shadow">
                            <StackLayout height="100%" class="stacklayout-card">
                                <StackLayout class="stacklayout-card-title">
                                    <Label text="Mis Datos Personales" textWrap="true"></Label>
                                </StackLayout>
                                <StackLayout class="stacklayout-card-body" width="100%">
                                    <Label class="title" text="Nombre" textWrap="true"></Label>
                                    <Label class="title-body"
                                        [text]="dataClientArr.nombre + ' ' + dataClientArr.paterno + ' ' + dataClientArr.materno"
                                        textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                    <Label class="title" text="Fecha de Nacimiento" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.fechaNacimiento"
                                        textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                    <Label class="title" text="CURP" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.curp" textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                    <Label class="title" text="RFC" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.rfc" textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </ScrollView>
                </StackLayout>
            </GridLayout>
        </TabContentItem>
        <!-- #endregion Tab Mis Datos -->
        <!-- #region Tab Direccion -->
        <TabContentItem>
            <GridLayout>
                <StackLayout width="90%" height="100%">
                    <ScrollView width="100%" orientation="vertical">
                        <StackLayout class="shadow">
                            <StackLayout height="100%" class="stacklayout-card">
                                <StackLayout class="stacklayout-card-title">
                                    <Label text="Mi Dirección" textWrap="true"></Label>
                                </StackLayout>
                                <StackLayout class="stacklayout-card-body" width="100%">
                                    <Label class="title" text="Calle" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.calle" textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                    <Label class="title" text="Número Exterior" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.numExt" textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                    <Label class="title" text="Número Interior" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.numInt" textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                    <Label class="title" text="Colonia" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.colonia" textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                    <Label class="title" text="Código Postal" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.cp" textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                    <Label class="title" text="País" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.nombrePaises"
                                        textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </ScrollView>
                </StackLayout>
            </GridLayout>
        </TabContentItem>
        <!-- #endregion Tab Direccion -->
        <!-- #region Tab Contacto -->
        <TabContentItem>
            <GridLayout>
                <StackLayout width="90%" height="100%">
                    <ScrollView width="100%" orientation="vertical">
                        <StackLayout class="shadow">
                            <StackLayout height="100%" class="stacklayout-card">
                                <StackLayout class="stacklayout-card-title">
                                    <Label text="Mis Datos de Contacto" textWrap="true"></Label>
                                </StackLayout>
                                <StackLayout class="stacklayout-card-body" width="100%">
                                    <Label class="title" text="Teléfono Fijo" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.telefonoFijo"
                                        textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                    <Label class="title" text="Teléfono Móvil" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.telefonoMovil"
                                        textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                    <Label class="title" text="Correo Electrónico" textWrap="true"></Label>
                                    <Label class="title-body" [text]="dataClientArr.correo" textWrap="true"></Label>
                                    <StackLayout class="hr"></StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </ScrollView>

                </StackLayout>
            </GridLayout>
        </TabContentItem>
        <!-- #endregion Tab Contacto -->
    </Tabs>
</StackLayout>