// Add mobile styles for the component here
.title-lbl {
    font-size: 18;
    color: #000;
    font-weight: bold;
}

.subtitle-span {
    font-size: 16;
    font-weight: normal;
}

.subtitle-span-bold {
    font-size: 16;
    font-weight: bold;
    color: #000;
}
