// Add mobile styles for the component here

.header-welcome {
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: rgba(229, 27, 104, 0.7);
    font-size: 16;
}