// Add mobile styles for the component here

.subTitleMenuRAD {
    text-align: center;
    font-size: 14;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.categoryDivider {
    background-color: #aef3bf;
}
