<!-- <ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton *ngIf="isAndroid" icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
    <NavigationButton *ngIf="isIOS" icon="font://&#xf053;" class="fas fas-size-ios" (tap)="goBack()"></NavigationButton>
</ActionBar>
<ScrollView orientation="horizontal">
    <StackLayout orientation="horizontal">
        <StackLayout marginTop="50px" height="100%">
            <StackLayout>
                <GridLayout rows="*" columns="*" height="250" width="250" (tap)="flip()">
                    <GridLayout #front margin="10" row="0" col="0" height="100%" borderRadius="20"
                        class="container-front-card">
                        <StackLayout class="front-card">
                            <Label *ngIf="!imageFrontCar" text="Toca para tomar la foto"></Label>
                            <Image borderRadius="20" width="95%" height="95%" *ngIf="imageFrontCar"
                                [src]="imageFrontCar"></Image>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout #back margin="10" row="0" col="0" height="100%" borderRadius="20"
                        (loaded)="initializeCards()" class="back-card">
                        <Button text="Tomar Foto" (tap)="takePhotoCar()"></Button>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout marginTop="50px" height="100%">
            <StackLayout>
                <GridLayout rows="*" columns="*" height="250" width="250" (tap)="flip()">
                    <GridLayout #front margin="10" row="0" col="0" height="100%" borderRadius="20"
                        class="container-front-card">
                        <StackLayout class="front-card">
                            <Label *ngIf="!imageFrontCar" text="Toca para tomar la foto"></Label>
                            <Image borderRadius="20" width="95%" height="95%" *ngIf="imageFrontCar"
                                [src]="imageFrontCar"></Image>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout #back margin="10" row="0" col="0" height="100%" borderRadius="20"
                        (loaded)="initializeCards()" class="back-card">
                        <Button text="Tomar Foto" (tap)="takePhotoCar()"></Button>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout marginTop="50px" height="100%">
            <StackLayout>
                <GridLayout rows="*" columns="*" height="250" width="250" (tap)="flip()">
                    <GridLayout #front margin="10" row="0" col="0" height="100%" borderRadius="20"
                        class="container-front-card">
                        <StackLayout class="front-card">
                            <Label *ngIf="!imageFrontCar" text="Toca para tomar la foto"></Label>
                            <Image borderRadius="20" width="95%" height="95%" *ngIf="imageFrontCar"
                                [src]="imageFrontCar"></Image>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout #back margin="10" row="0" col="0" height="100%" borderRadius="20"
                        (loaded)="initializeCards()" class="back-card">
                        <Button text="Tomar Foto" (tap)="takePhotoCar()"></Button>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView> -->