// Add mobile styles for the component here

.title-lbl {
    font-size: 18;
    color: #6E6E6E;
    font-weight: bold;
}

.colorResalt {
    color: #000000;
    font-size: 18;
    font-weight: bold;
}

.scrollViewItems {
    height: auto;
}

.card {
    width: 96%;
    height: auto;
    margin: 0 2%;
    background-color: #ffffff;
    padding: 15px 0;
    border-radius: 20px;
    display: inline-block;
    justify-content: center;
}

.insureImage {
    width: 400px;
    height: 180px;
}

.insureName {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.overflowController {
    overflow-x: hidden;
    overflow-y: hidden;
}

.btnCuentas {
    android-elevation: 0;
    color: #014F98;
    background-color: #ffffff;
}