<StackLayout height="100%" width="90%" marginTop="20">
    <ScrollView height="100%">
        <StackLayout>
            <StackLayout class="hr"></StackLayout>
            <StackLayout *ngFor="let item of settingsOptions">
                <GridLayout rows="25, 25" columns="50, *" (tap)="onItemTap(item.url)">
                    <Label class="icon-list-settings fas" row="0" col="0" rowSpan="2" [text]="item.icon"
                        textWrap="true"></Label>
                    <Label class="title-list-settings" row="0" col="1" [text]="item.title" textWrap="true"></Label>
                    <Label class="subtitle-list-settings" row="1" col="1" [text]="item.subtitle"
                        textWrap="true"></Label>
                </GridLayout>
                <StackLayout class="hr"></StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>