.card {
    width: 96%;
    height: auto;
    margin: 0 2%;
    background-color: #ffffff;
    padding: 15px 0;
    border-radius: 20px;
    display: inline-block;
    justify-content: center;
}

.insureImage {
    width: 400px;
    height: 180px;
}

.insureName {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
