<StackLayout width="100%" height="100%">

    <ListView [items]="images" class="list-group" height="3200">
        <ng-template let-item="item" let-odd="odd" let-even="even">
          <StackLayout>
            <StackLayout class="card">
                <StackLayout class="insureImage">
                    <Image [src]="'~/assets/iconos-aseguradoras/' + item.name"></Image> 
                </StackLayout>
                <StackLayout class="insureName">
                    <Label text="En caso de siniestro llame al:" textWrap="true"></Label>
                    <Label textWrap="true" (tap)="call(item.tel)">
                        <FormattedString>
                            <span class="fas" text="&#xf095;  {{item.tel}}"></span>
                        </FormattedString>
                    </Label>
                </StackLayout>
            </StackLayout>
          </StackLayout>
        </ng-template>
    </ListView>
    
</StackLayout>